.main-heading {
	color:$white;
	background-color:$main-heading-grey;
	padding: 1rem 2rem;
	border: 10px solid $white;
}

#tagline {
	margin-bottom:4rem;
	margin-top:-2rem;
}

body .ms-container {
	margin-bottom:3rem;
}

.ms-basic-view {
	border: 5px solid #514F4C;

}

.ms-bullets {
	bottom:-25px!important;
	z-index:5;
}

.ms-info p{
	text-align:center;
	margin-bottom:0;
}


