// Styles for MailChimp footer signup

#general-signup-1 {
	.label-inline {
		width:33.33333%;
		span {
			font-weight:bold;

		}

	}

	.submit-button-inline-label {
		display:block;
		margin:0 auto;
		float:none;

		
	}

	.yikes-easy-mc-submit-button {
		background-color:rgba(255, 249, 242, 0.7);
		color:black;
		font-weight:bold;
		&:hover {
			background-color:$white;
		}
	}
}

