// Styles for MailChimp footer signup

#general-signup-1 {
	.label-inline {
		width:33.33333%;
		span {
			font-weight:bold;

		}

	}

	.submit-button-inline-label {
		display:block;
		margin:0 auto;
		float:none;

		
	}

	.yikes-easy-mc-submit-button {
		background-color:rgba(255, 249, 242, 0.7);
		color:black;
		font-weight:bold;
		&:hover {
			background-color:$white;
		}
	}
}

#signup-form-2 label.label-inline {
	width:33%;
}

#signup-form-2 .yikes-easy-mc-checkbox-label {
	font-size:12px;
}

#yikes-mailchimp-container-2 .yikes-easy-mc-form .fbb8087422-label {
	width:100%;
	margin-bottom:0;

	.yikes-easy-mc-checkbox-label {
		width:33%;
	}
}

.fbb8087422-label.checkbox-parent-label {
	margin-bottom:15px!important;
}

#signup-form-2 .fbb8087422-label .yikes-easy-mc-checkbox-label {
	width:45%;
	margin-bottom:0;
}

#yikes-mailchimp-container-2 {
	padding:20px;

	label {
		font-size:16px;
	}
}

#yikes-mailchimp-container-2, #yikes-mailchimp-container-2 label, #yikes-mailchimp-container-2 input {
	color:black;
}

#yikes-mailchimp-container-2 .yikes-easy-mc-form label {
	margin-bottom:1.5em;
}

#yikes-mailchimp-container-2 label.label-inline > span {
	font-size:16px;
	font-weight:bold;
	margin-bottom:5px;
	display:block;
}

#yikes-mailchimp-container-2 .submit-button-inline-label {
	width:145px;
	text-align:center;

}

#yikes-mailchimp-container-2 .yikes-easy-mc-submit-button {
	display: block;
    width: 145px;
    margin: auto;
    font-size:16px;
	font-weight:bold;
	    color: #000;
    background-color: #e6d49e;
}


