// Styles for MailChimp footer signup

#general-signup-1 {
	.label-inline {
		width:33.33333%;
	}

	.submit-button-inline-label {
		display:block;
		margin:0 auto;
		float:none;
	}

	.yikes-easy-mc-submit-button {
		background-color:#C8D3F4;
		color:black;
		padding: 11px 0 9px;
		font-family:$Rubik;
		font-weight:bold;
	}
}

