
@media (max-width: 1199px) { 
	.main-heading {
		font-size:6rem;
	}
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

/* 	html{
		font-size:20px;
	}
 */

 	.social-icons {
		text-align:center;
		margin-bottom:2rem;
		
		a {
			text-align:center;
		}

		i {
			font-size:2.5rem;

		}
	}

	.toprow.color6 {
		background-color:$theme-color-four!important;
	}

	#learn-more, .learn-more-tri {
		display:none;
	}

	#full-width-page-wrapper {
		padding-top:0;
	}

	.navbar-toggler {
		font-size:3rem;
	}

	.main-heading{
		font-size:5rem;		
	}

	.home .main-heading {
		margin-top:0;
	}

	#general-signup-1 .label-inline { //mailchimp signup
	    width: 80%;
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	    float: none;
	}

	.tg-track {
		display:none;
	}

	.tg-mobile .tg-small .tg-content {
		margin-left:0;
		margin-right:0;
	}
}

@media (max-width: 575px) {
	.main-heading{
		font-size:3rem;
		padding:0;
	}

	#report-title {
		font-size:2.5rem;
	}

	.btn-default {
		h3 {
			font-size:1.5rem;
		}
	}

	.row.color1, .centering {
		padding:0 10px;
	}


}

@media (max-height:600px) {
	#learn-more-container {
		display:none;
	}

	div.centering, div#landingPad {
		height:auto;
	}

	div.centering {
		justify-content:start;
	}

	#tagline {
		margin-bottom:4rem;
	}

	.main-heading {
		margin-top:4rem;
	}
}

