
@media (max-width: 1199px) { 
	.main-heading {
		font-size:6rem;
	}
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

	#full-width-page-wrapper {
		padding-top:0;
	}

	.navbar-toggler {
		font-size:3rem;
	}

	.navbar-collapse.show {
		margin-bottom:2rem;
	} 

	.main-heading{
		font-size:5rem;
	}

	#general-signup-1 .label-inline { //mailchimp signup
	    width: 80%;
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	    float: none;
	}
}

@media (max-width: 575px) {
	.main-heading{
		font-size:4rem;
	}

	.btn-default {
		h3 {
			font-size:1.5rem;
		}
	}
}


