.su-tooltip {
	color: blue;
    vertical-align: super;
    font-size: .8rem;
    font-style: italic;
    font-weight: bold;
}

.modern-footnotes-footnote a:before {
    content: "[";
}

.modern-footnotes-footnote a:after {
    content: "]";
}

#overview-container {
	padding-bottom:2rem;
}