.su-tooltip {
	color: blue;
    vertical-align: super;
    font-size: .8rem;
    font-style: italic;
    font-weight: bold;
}

.modern-footnotes-footnote a:before {
    content: "[";
}

.modern-footnotes-footnote a:after {
    content: "]";
}

#overview-container {
	padding-bottom:2rem;
}

#main figure.wp-caption {  //styles for captioned images
	@include trans-white;
	padding: .5rem 1.5rem;
		.wp-caption-text {
			font-size:.8rem;
		}
}

body .dgx-donate-form-section {
	border:1px solid $font-black!important;
}

#dgx-donate-form-payment-section input[type=image] {
	width:120px;
	border:none
}

// read more buttons on report

