// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import "timeline";

/* Overall */

html {
	font-size:16px;
	margin:16px;
	padding:16px;
}

body {
	background-color: #C8D3F4;
}

.aligncenter {
	display:block; //needed to align images properly
}

/* Typography */
.main-heading, .nav-link, h1, h2, h3, h4, h5, h6 {
	font-family:$Rubik;
	color:$font-black;
}

p {
	font-family:$Karma;
}

.main-heading {
	font-size:8rem;
	margin-bottom:1rem;
}

.sub-heading {
	font-size:6rem;
}

h1 {
	font-size: 4rem;
	margin-bottom:1rem;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size:2.5rem;
	margin-bottom:1rem;
}

h4,  {
	font-size:1.5rem;
	margin-bottom:1rem;
}

.nav-link {
	font-size:1.5rem;
}

p {
	font-size:1rem;
}

.pull-quote {
	display:block;
	line-height:100%;
	font-size:2.5rem;
	font-weight:bold;
	text-align:center;
	margin:2em 1.5rem;
}

h1,h2,h3,h4,h5,h6 {  //Center headers by default
	display:block;
	text-align:center;
}

.nav-link {
	font-weight:200;
}


/* Navigation */

.navbar-nav {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-link{
	color:$font-black;
	text-transform:uppercase;
	margin:1rem 1rem 0 1rem;
	padding:0;
}

.nav-link:hover {
	color:black;
}

.navbar-collapse {
	justify-content:center;
}

/* Modals */
.modal-header {
	display:block;
	border-bottom:none;

	button {
		float:right;
	}

}

.modal-dialog {
	background-color:white;
	color:black;

	&.modal-full {
	    max-width: 90%;
		margin: 60px auto;
	}
}

/* buttons */

.btn-default {
	background-color:rgba(81,79,76,.2);
	border:5px solid #514F4C;
}
	
/* Footer */
#wrapper-footer-full {
	background-color:white;
}

