// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import "timeline";

/* Overall */

body {
	background-color: $theme-color-one;
}

.aligncenter {
	display:block; //needed to align images properly
}

/* Typography */
.main-heading, .nav-link, h1, h2, h3, h4, h5, h6 {
	font-family:$Rubik;
}

p {
	font-family:$Karma;
}

.main-heading {
	font-size:156pt;
}

h1 {
	font-size: 52pt;
}

h2 {
	font-size: 42pt;
}

h3 {
	font-size:30pt;
}

h4, .nav-link {
	font-size:18pt;
}

p {
	font-size:12pt;
}

.pull-quote {
	display:block;
	line-height:100%;
	font-size:2.5em;
	font-weight:bold;
	text-align:center;
	margin:2em 1.5em;
}

h1,h2,h3,h4,h5,h6 {  //Center headers by default
	display:block;
	text-align:center;
}

.nav-link {
	font-weight:200;
}


/* Navigation */

.nav-link{
	color:$nav-link-color;
}

.nav-link:hover {
	color:$nav-link-hover-color;
}

.navbar-collapse {
	justify-content:center;
}

/* Modals */
.modal-header {
	display:block;
	border-bottom:none;

	button {
		float:right;
	}

}

.modal-dialog {
	background-color:white;

	&.modal-full {
	    max-width: 90%;
		margin: 60px auto;
	}
}
	
/* Footer */
#wrapper-footer-full {
	background-color:white;
}

