// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import "timeline";

/* Overall */

html {
	font-size:16px;
	margin:16px;
	padding:16px;
}

body {
	background-color: #DC965A;
	font-family:$Karma;
}

.aligncenter {
	margin-left:auto;
	margin-right:auto;
	display:block; //needed to align images properly
}

@media (min-width: 1200px) {
	.container {
	    max-width: 1400px;
	}
}

#full-width-page-wrapper {
	padding-bottom:0;
}

/* Margins + Padding + Border*/

.margin-none {
	margin:0;
}

.margin-xs {
	margin-bottom:0.5rem;
}

.margin-sm {
	margin-bottom: 1rem;
}

.margin-md {
	margin-bottom:1.5rem;
}

.margin-lg {
	margin-bottom:2rem;
}

.margin-xl {
	margin-bottom:3rem
}

.padding-none {
	padding:0;
}

.border-black {
	border: 5px solid #514F4C;
}

/* Typography */
.main-heading, .nav-link, h1, h2, h3, h4, h5, h6 {
	font-family:$Rubik;
	color:$font-black;
}

p {
	font-family:$Karma;
}

.main-heading {
	font-size:8rem;
	margin-bottom:1rem;
	font-weight:900;
}

.sub-heading {
	font-size:6rem;
}

h1 {
	font-size: 4rem;
	margin-bottom:1.8rem;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size:2.5rem;
	margin-bottom:1rem;
}

h4,  {
	font-size:1.5rem;
	margin-bottom:1rem;
}

.nav-link {
	font-size:1.5rem;
}

p {
	font-size:.9rem;
}

.pull-quote {
	display:block;
	line-height:100%;
	font-size:2.5rem;
	font-weight:bold;
	text-align:center;
	margin:2em 1.5rem;
}

h1,h2,h3,h4,h5,h6 {  //Center headers by default
	display:block;
	text-align:center;
}

.nav-link {
	font-weight:200;
}


/* Navigation */

.navbar-nav {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:2rem;
}

.nav-link{
	color:$font-black;
	text-transform:uppercase;
	margin:1rem 1rem 0 1rem;
	padding:0;
}

.nav-link:hover {
	color:black;
}

.navbar-collapse {
	justify-content:center;
}

/* Modals */
.modal-header {
	display:block;
	border-bottom:none;

	button {
		float:right;
	}

}

.modal-dialog {
	background-color:white;
	color:black;

	&.modal-full {
	    max-width: 90%;
		margin: 60px auto;
	}
}

[data-toggle="modal"], [data-dismiss="modal"] {
	cursor:pointer;
}

/* buttons */

.btn-default {
	border:5px solid #514F4C;
	background-color:rgba(255, 249, 242, 0.2);
	line-height:1;
	cursor:pointer;
	padding: 12px 10px 8px 10px;
}

	
/* Footer */
#wrapper-footer-full {
	background-color:transparent;
	padding: 0 0 30px 0;
}

