// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

/* colors */


$white: #FFF9F2;
$main-heading-grey:#514F4C;
$font-black: #282826;

$theme-color-one:#82d3a4;  //mint green
$theme-color-two:#ffd0b1; //peach pink
$theme-color-three:#b4726a; //wooden red
$theme-color-four:#4090ff; //deep blue
$theme-color-five:#f1cf69; //golden yellow
$theme-color-six:#f1c5a8; //totally tan

/*typography */
$font-family-sans-serif: Arial, sans-serif;
$Karma: 'Karma', serif;
$Rubik: 'Rubik', sans-serif;

/* breakpoints */
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

@mixin trans-white {
	background-color:rgba($white, .5);
}

