.timeline {
	margin-top:4rem;
}

.tg-content {
	background-color:rgba($white, .6);
	border:  3px solid $font-black;
	padding:.5rem;
}

.tg-label {
	display:none;
}

.tg-track {
	background-color:$font-black;
}

.tg-left .tg-content .year {
	position: absolute;
    right: 0;
    top: -45px;
}

.tg-right .tg-content .year {
	position: absolute;
    left: 0;
    top: -45px;
}