body {
	background-color:black;
	font-family: 'Montserrat', sans-serif;
}

h1 a, h1 a:visited, h2 a, h2 a:visited {
	color:black;
	text-decoration:none;
	pointer:cursor;
}

h1 a:hover, h2 a:hover {
	color: #FD1410;
	cursor:pointer;
}

/* Header */

.site-branding {
	background-color:black;
}

.site-branding .col1{
	float:left;
	width:29%;
	height:150px;
}

.site-branding .col2{
	float:right;
	width:70%;
	height:150px;
}

.site-branding .col1 .img-container {
	float:left;
	height:100%;
}

.site-branding .col1 .img-container img{
	height:150px;
}

.site-title {
	padding:0px 50px;
	font-size:35pt;
	margin-top:42px;
}

.site-title a, 
.site-title a:visited {
	text-decoration:none;
	color:#f3f3f3;
}

.site-title a:hover {
	color:#FD1410;
}

/*Navigation*/

#primary-menu {
	text-align: left;
    padding-left: 52px;
}

.main-navigation {
	background-color: #FD1410;
}

.main-navigation ul {
	margin-left:4%;
}

.main-navigation li {
    padding: 5px 20px;
    font-size: 16pt;
    float:none;
    display:inline-block;
}

.main-navigation li a{
	color:black;
}


/* Content/Sidebar*/
#content {
	background-color: black;
	
}

#primary {
	background-color:black;
}


.content-area {
	float: left;
	width: 70%;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: 30%;
	border-top: 40px solid black;
	
}

#event_widget-2 {
	height:499px;
}

.site-footer {
	clear: both;
	width: 100%;
}

/* Featured Post */

.section1 {
	background-color:black;
	padding:40px;
	height:584px;
}

.featured-post {
	width:540px;
	margin: 0 auto;
	padding:20px;
	background-color:white;
	text-align:center;
}

.featured-post img{
	width:500px;
	height:auto;
}

.featured-post h2 {
	margin-top:0;
}

.featured-post a {
	color:black;
	text-decoration:none;
}

.featured-post a:hover {
	color:#FD1410;
}

/* Recent Posts */

.section2 {
	background-color: #c7c7c7;
    padding: 1px 0 0 0;
 }

.section2 .past-posts {
	text-align:center;
	margin:50px 0;
}

.section2 h1 {
	text-align:center;
	color:black;
	margin:20px 0;
}

.section2 .post-container {
	width:250px;
	display:inline-block;
	margin:0 20px;	
}

.section2 .post-container img {
	height:150px;
	width:auto;
	border:1px solid black;
}

.section2 .post-container a {
	color:black;
	text-decoration:none;
}

.section2 .post-container a:hover {
	color:#FD1410;
}

.section2 h2 {
	color:black;
	margin:10px 0;
}

/* Sidebar */

.site-content .widget-area {
	padding-top:20px;
	background-color:#c7c7c7;
}

.widget {
	padding:0;
}

.widget h1 {
	margin:0px 10px 15px 10px;
	text-align:center;
}

.event-details {
    height: 190px;
    padding: 10px;
}

.event-details .text {
	    width: 65%;
    float: left;
    padding: 0 10px;
    margin-top: 35px;
    text-align:center;
    line-height:1.2;
}

.event-details .img-container {
	width: 35%;
    float: right;
}

.event-details img {
    margin-top: 41px;
}

.event-details p, .event-details h2 {
	margin:10px 0;
}

.event-details h2 {
	font-size:20px;
}

.event-details p {
	font-size:16px;
}

.event-details a, .event-details a:visited {
	text-decoration:none;
	color:black;
}

.event-details a:hover {
	color:#FD1410;
}

#text-3 /*Facebook*/{
	background-color: #000000;
    margin-bottom: 0;
    padding: 0;
    height: 714px;
}

.fb-comments, .fb-comments iframe[style], .fb-comments span {
   width: 100% !important;
}

.fb-page, .fb-page iframe[style], .fb-page span {
    width: 100% !important;
}

/* Allied Posts */

.ally-posts {
	background-color:black;
	padding-top:20px;
}

.ally-posts h1 {
	color:white;
}

.rss_container {
    width: 46%;
    display: inline-block;
    vertical-align: top;
    margin: 0 1%;
    background-color: #c7c7c7;
    padding: 10px;
    border: 2px solid black;
    height: 370px;
}

.rss_container ul {
	margin:0;
}

.rss_container ul li {
	margin:5px 0;
}

.rss_container h2 a, .rss_container h2 a:visited {
	color:black;
	text-decoration:none;
}

.rss_container a:hover {
	color:#FD1410;
}

/* Footer */

footer {
	background-color:#536490;
	height:60px;
	padding:10px;
	margin-top:20px;
}

footer a, footer a:visited {
	color:black;
}

footer a:hover {
	color:#FD1410;
}

footer .site-info {
	color:black;
	margin-top:9px;
}


/* Single Post View */
.comments-title, .cat-links {
	display:none;
}

.comment-body footer {
	height:auto;
	color:black;
}

.comment-form-url {
	display:none;
}




/* Media Queries */
@media screen and (max-width:1250px) {
	.site-branding .col1 {
		width:19%;
	}

	.site-branding .col2 {
		width:80%;
	}

	.section2 .post-container {
		width:200px;
	}

	.rss_container {
		height:470px;
	}

	#text-3 {
		background-color: #ffffff;	  
 	   height: 812px;
	}


}

@media screen and (max-width:1030px) {
	#text-3 {
		height:1034px;
	}

	.section-1 {
		height:604px;
	}

	#event-widget-2 {
		height:520px;
	}

	
	.site-title {
		padding:0;
	}

	.site-branding .col2 {
		height:200px;
	}

}

@media screen and (max-width:827px) {
	#primary, #secondary {
		width:100%;
	}

	#event-widget-2, #text-3 {
		height:auto;
	}

	.event-details .img-container {
		width:23%;
	}

	#text-3 {
		width: 500px;
    	margin: 20px auto;
	}

	.site-branding .col2, .section1 {
		height:auto;
	}
}


@media screen and (max-width:600px) {
	#primary-menu {
		text-align: left;
	    margin-top: 10px;
	}

	#site-navigation {
		padding:10px 0;
	}

	.main-navigation ul {
		margin-left:0;
	}

	.site-branding .col1 {
		display:none;
	}

	.site-branding .col2 {
		width:100%;
		padding:0 30px;
	}

	.site-title {
		font-size:24pt;
	}

	#primary-menu {
		margin-top:0;
	}

	.section1 {
		padding:20px;
	}

	.featured-post {
		width:auto;
	}

	.ally-posts {
		text-align:center;
	}

	.rss_container {
		height:630px;
	}

	footer {
		height:auto;
		margin-top:0;
	}
}


@media screen and (max-width:500px) {
	.rss_container {
		width:100%;
		height:auto;
	}

	.ally-posts {
		text-align:left;
	}

	#text-3 {
		width:300px;
	}

}