body {
	background-color:black;
}

h1 a, h1 a:visited, h2 a, h2 a:visited {
	color:black;
	text-decoration:none;
}

h1 a:hover, h2 a:hover {
	color: #FD1410;
	cursor:pointer;
}

/* Header */

.site-branding {
	background-color:black;
}

.site-branding .col1{
	float:left;
	width:85%;
	height:150px;
}

.site-branding .col2{
	float:right;
	width:14%;
	height:150px;
}

.site-branding .col2 .img-container {
	float:right;
	height:100%;
}

.site-branding .col2 .img-container img{
	height:150px;
}

.site-title {
	padding:0px 50px;
	font-size:35pt;
	margin-top:42px;
}

.site-title a, 
.site-title a:visited {
	text-decoration:none;
	color:#f3f3f3;
}

.site-title a:hover {
	color:#FD1410;
}

/*Navigation*/

#primary-menu {
	text-align: left;
    padding-left: 52px;
}

.main-navigation {
	background-color: #FD1410;
 
}

.main-navigation li {
    padding: 20px;
    font-size: 16pt;
    float:none;
    display:inline-block;
}

.main-navigation li a{
	color:black;
}


/* Content/Sidebar*/
#content {
	background-color: black;
	
}

#primary {
	background-color:black;
}


.content-area {
	float: left;
	width: 75%;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: 25%;
	
}
.site-footer {
	clear: both;
	width: 100%;
}

/* Featured Post */

.section1 {
	background-color:black;
	padding:40px;

}

.featured-post {
	width:540px;
	margin: 0 auto;
	padding:20px;
	background-color:white;
}

.featured-post img{
	width:500px;
	height:auto;
}

.featured-post h2 {
	margin-top:0;
}

.featured-post a {
	color:black;
	text-decoration:none;
}

.featured-post a:hover {
	color:#FD1410;
}

/* Recent Posts */

.section2 {
	background-color: #536490;
    padding: 1px 0 0 0;
 }

.section2 .past-posts {
	text-align:center;
	margin-bottom:50px;
}

.section2 h1 {
	text-align:center;
	color:black;
	margin:20px 0;
}

.section2 .post-container {
	width:250px;
	display:inline-block;
	margin:0 20px;	
}

.section2 .post-container img {
	height:150px;
	width:auto;
	border:1px solid black;
}

.section2 .post-container a {
	color:black;
	text-decoration:none;
}

.section2 .post-container a:hover {
	color:#FD1410;
}

.section2 h2 {
	color:black;
	margin:10px 0;
}

/* Sidebar */

.site-content .widget-area {
	padding-top:20px;
	background-color:white;
}

.widget {
	padding:0px 10px;
}

.widget h1 {
	margin:0px 10px 15px 10px;
	text-align:center;
}

.event-details {
	margin-bottom:20px;
	border-top: 1px solid black;
}

.event-details img {
	width: 70%;
    margin: auto auto;
    display: block;
}

.event-details p, .event-details h2 {
	margin:10px 0;
}

.event-details h2 {
	text-align:center;
}

.event-details a, .event-details a:visited {
	text-decoration:none;
	color:black;
}

.event-details a:hover {
	color:#FD1410;
}

#text-3 /*Facebook*/{
	background-color:white;
	margin-bottom:0;
	padding:0;
	height: 634px;
    overflow-y: hidden;
}

/* Allied Posts */

.ally-posts {
	background-color:black;
	padding-top:1px;
}

.ally-posts h1 {
	color:white;
}

.rss_container {
    width: 46%;
    display: inline-block;
    vertical-align: top;
    margin: 0 1%;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    height: 370px;
}

.rss_container ul {
	margin:0;
}

.rss_container ul li {
	margin:5px 0;
}

.rss_container h2 a, .rss_container h2 a:visited {
	color:black;
	text-decoration:none;
}

.rss_container a:hover {
	color:#FD1410;
}

/* Footer */

footer {
	background-color:#536490;
	height:60px;
	padding:10px;
	margin-top:20px;
}

footer a, footer a:visited {
	color:black;
}

footer a:hover {
	color:#FD1410;
}

footer .site-info {
	color:black;
	margin-top:9px;
}
