body {
	background-color:black;
}

/* Header */

.site-branding {
	background-color:black;
}

.site-branding .col1{
	float:left;
	width:85%;
	height:150px;
}

.site-branding .col2{
	float:right;
	width:14%;
	height:150px;
}

.site-branding .col2 .img-container {
	float:right;
	height:100%;
}

.site-branding .col2 .img-container img{
	height:150px;
}

.site-title {
	padding:0px 50px;
	font-size:35pt;

}

.site-title a, 
.site-title a:visited {
	text-decoration:none;
	color:#f3f3f3;
}

.site-title a:hover {
	color:#FD1410;
}

/*Navigation*/

.main-navigation {
	background-color: #FD1410;
	border-top: 2px solid #313131;
    border-bottom: 2px solid #313131;
    text-align:center;
}

.main-navigation li {
    padding: 20px;
    font-size: 16pt;
    border-right: 2px solid #313131;
    float:none;
    display:inline-block;
}

.main-navigation li:first-child {
	border-left: 2px solid #313131;
}


.main-navigation li a{
	color:black;
}


/* Content/Sidebar*/
.content-area {
	float: left;
	margin: 0 -25% 0 0;
	width: 100%;
}
.site-main {
	margin: 0 25% 0 0;
}
.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: 25%;
}
.site-footer {
	clear: both;
	width: 100%;
}

/* Featured Post */

.section1 {
	background-color:black;
	padding:40px;

}

.featured-post {
	width:540px;
	margin: 0 auto;
	padding:20px;
	background-color:white;
}

.featured-post img{
	width:500px;
	height:auto;
}

.featured-post h2 {
	margin-top:0;
}

.featured-post a {
	color:black;
	text-decoration:none;
}

.featured-post a:hover {
	color:#FD1410;
}

/* Recent Posts */

.section2 {
	background-color: #536490;
    padding-top: 40px;
    height: 726px;
}

.section2 .past-posts {
	text-align:center;
}

.section2 .post-container {
	width:200px;
	display:inline-block;
	margin:0 20px;
	border:1px solid black;
}

.section2 .post-container img {
	height:150px;
	width:auto;
}

.section2 .post-container a {
	color:black;
	text-decoration:none;
}

.section2 .post-container a:hover {
	color:#FD1410;
}

.section2 h2 {
	color:black;
	margin:10px 0;
}

/* Sidebar */

.site-content .widget-area {
	margin-top:40px;
	background-color:white;
}

.widget {
	padding:0px 10px;
}

.widget h1 {
	margin:0px 10px;
}

.event-details {
	margin-bottom:20px;
	border-bottom: 1px solid black;
}

.event-details p, .event-details h2 {
	margin:10px 0;
}

.event-details h2 {
	text-align:center;
}

.event-details a, .event-details a:visited {
	text-decoration:none;
	color:black;
}

.event-details h2 a:hover {
	color:#FD1410;
}

#text-3 /*Facebook*/{
	background-color:black;
	margin-bottom:0;
}