
.events-list .event-details {
	height:300px;
	width:630px;
	margin:auto;
}

.events-list .text{
	width:300px;
	margin-top:85px;
}

.events-list .img-container {
	width:300px;
	float:left;
	text-align:center;
}

.events-list h1.page-title {
	width: 600px;
    text-align: center;
    margin:auto;
    font-size:36px;
    margin-bottom:0;
}

.events-list {
	padding:10px 0;
	margin:40px;
}

/* Single Event */

	.single-event .event-details {
		height:auto;
	}

	.single-event .img-container {
		width:200px;
	}

	.single-event .text, .single-event .img-container {
		float:none;
		display:inline-block;
		vertical-align:middle;
	}
                            
@media screen and (max-width:827px) {
	.events-list .event-details, .events-list .text, .events-list .img-container, .events-list h1.page-title                                 {
		width:auto;
	}

	.events-list {
		margin:20px 0 0 0;
	}

	.events-list .text, .events-list .img-container {
		float:none;
		margin:auto;
	}

	.events-list .img-container {
		display:none;
	}

	.events-list .event-details {
		height:auto;
	}

	.single-event .text, .single-event .img-container {
		text-align:center;
		float:none;
		margin:auto;
		display:block;
	}
}