.content-area.generic-page {
	width:100%;
}

.generic-page article, .post-navigation, #comments  {
	margin: 50px;
    background-color: #c7c7c7;
    padding: 30px;
}

.entry-footer, .grey-background {
	background-color: #c7c7c7;
}

.grey-background {
	margin:40px;
	padding:20px;
}